.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex: 1; 
    background-color: var(--fondo_principal);
    padding: 20px;
}

.login-box {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-right: 1px solid black;
}

h2 {
    font-family: 'Poppins',sans-serif;
    font-size: 35px;
    font-weight: 700;
  font-style: normal;
    text-align: left;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group label {
    color: var(--texto_secundario);

    font-family: 'Poppins',sans-serif;
    font-weight: 600;
  font-style: normal;    margin-bottom: 5px;
    margin-top: 10px;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-button {
    background-color: var(--resaltado);
    color: white;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
  font-style: normal;
}

.login-button:hover {
    background-color: var(--resaltado_hover);
}

.login-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: var(--resaltado);
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
  font-style: normal;
}

.login-link:hover {
    text-decoration: underline;
}

.text-section {
    margin-top: 20px;
    text-align: center;
}

.text-section h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
  font-style: normal;
}

#h2-text {
    text-align: center;
    font-size: 30px;
    color: gray;
    margin: 5px 0 0 0;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
  font-style: normal;
}

.footer {
    width: 100%;
    background-color: #b0c4de;
    text-align: center;
    padding: 20px;
    margin-top: auto; 
}

.invalid-feedback {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
  }
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .login-box {
        max-width: 100%;
        border: none;
    }

    .text-section h1 {
        font-size: 35px;
    }

    .text-section h2 {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    body{
        height: 125%;
    }
    .container {
        padding: 15px;
        width: 100%;
    }

    .text-section h1 {
        font-size: 30px;
    }

    .text-section h2 {
        font-size: 20px;
    }

    .login-button {
        font-size: 14px;
        padding: 8px;
    }
}

@media (min-width: 900px) {
    .container {
        flex-direction: row;
        gap: 40px;
    }
}
