.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--fondo_principal);
  padding: 20px;
}

.login-box {
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-right: 1px solid black;
}
h2 {
  color: var(--titulos);
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  color: var(--texto_secundario);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 5px;
  margin-top: 25px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  background-color: var(--resaltado);
  color: white;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.login-button:hover {
  background-color: var(--resaltado_hover);
}

.register-link { 
  color: var(--resaltado);
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.register-link:hover {
  text-decoration: underline;
  color: var(--resaltado_hover);

}

.invalid-feedback {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}
.text-section {
  margin-left: 75px;
  margin-top: 20px;
  text-align: center;
}

.text-section h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.text-section h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  color: gray;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .login-box {
    max-width: 100%;
    border: none;
  }

  .text-section h1 {
    font-size: 35px;
  }

  .text-section h2 {
    font-size: 25px;
  }
}

/* Para móviles */
@media (max-width: 600px) {
  .container {
    padding: 15px;
    width: 100%;
  }

  .text-section h1 {
    font-size: 30px;
  }

  .text-section h2 {
    font-size: 20px;
  }

  .login-button {
    font-size: 14px;
    padding: 8px;
  }
}
@media (min-width: 900px) {
  .container {
    flex-direction: row;
  }
}
