*{
    font-family: 'Poppins';
}

body {
    margin: 0px;
    background-color: var(--fondo_principal);
    height: 100vh;
    display: flex;
    flex-direction: column;
  }  

.chat-container {
  display: flex;
  flex-grow: 1;
  background-color: var(--fondo_principal);
  transition: 0.5s ease;
}

.filters {
  transition: 0.5s ease;
}


.filters.hidden {
  margin-bottom: 0;
}

  .chat-list {
    width: 30vw;
    height: auto;
    background-color: var(--fondo_secundario);
    padding: 10px;
    border: 5px solid var(--fondo_principal);
    border-radius: 30px;
    transition: 0.1s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .main-chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    background-color: var(--fondo_principal);
    padding: 10px;
    border: 5px solid rgba(255, 255, 255, 0);
  }

  .resize-handle {
    width: 10px;
    cursor: ew-resize;
    background: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin: 5px;
    height: 100%;
    margin-right: -12px;
  }

  app-chat-list{
    max-height: 100%;
    overflow-y: scroll;
    display: block;
    width: inherit;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--resaltado);
  }

  ::-webkit-scrollbar-thumb {
    background: #ff51005a;
  }

  #footerToggle {
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    user-select: none;
    height: 2vh;
    font-size: 8px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    align-items: center;
}

app-footer {
    transition: opacity 0.3s ease-in-out;
}

.hidden-footer {
    opacity: 0;
    pointer-events: none;
}
