<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Proceso de Acreditación</title>
</head>
<body>
    <div class="container">
        <h1>Bienvenido al proceso acreditación de títulos mediante experiencia laboral</h1>
        <p>Si es la primera vez que vas a acreditar competencias, te guiaremos a través del proceso. Antes de todo, tenemos que saber
            si cumples los requisitos básicos para realizar una acreditación, para ello deberás realizar un cuestionario preliminar:
        </p>
        <button class="button" [routerLink]="['/cuestionario', 1, null]">Siguiente</button>
    </div>
</body>
</html>