.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

.table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  .table th, .table td {
    font-weight: 400;
    padding: 12px;
    border: 1px solid #000;
    text-align: center;
  }
  
  .table th {
    color: var(--texto_terciario);
    background-color: var(--fondo_terciario);
    font-weight: bold;
  }
  
  .table a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .table a:hover, .pagination button:hover:not([disabled]) {
    background-color: var(--fondo_secundario, #e0e0e0);
    color: var(--azul-oscuro-1, --azul-medio);
  }

  .botones {
    padding: 8px 12px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    background-color: var(--elemento_principal);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botones:hover {
    background-color: var(--azul-medio);
  }