<div class="container">
  <h2>Cuentas Bloqueadas</h2>
  @if (usersBlock.length != 0) {
  <table>
    <thead>
      <tr>
        <th>Usuario ID</th>
        <th>Email</th>
        <th>Intentos Fallidos</th>
        <th>Bloqueado</th>
        <th>Desbloquear</th>
      </tr>
    </thead>
    <tbody>
      @for (users of usersBlock; track $index) {

      <tr>
        <td>{{ users.usuarioId }}</td>
        <td>{{ users.email }}</td>
        <td>{{ users.intentosFallidos }}</td>
        <td>{{ users.bloqueado }}</td>
        <td>
          <button (click)="desbloquear(users.usuarioId)">Desbloquear</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }@else {
  <h3>No hay ningun usuario en bloqueo</h3>
  }
</div>
